<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" {% block htmlAttributes %}> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" {% block htmlAttributes %}> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" {% block htmlAttributes %}> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" {% block htmlAttributes %}> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Slides{% endblock %}</title>
    {% include 'partials/styles.html' %}
    {% block "styles %}
    {% include 'partials/scripts.html' %}
    {% block headerScripts %}
    {% block head %}
</head>
{% block body %}
{% block scripts %}
</html>
