---
name: users.list
url: /
---
<section ng-controller="HomeController">
    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="jumbotron text-center">
                        <h1>List of slides</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div ng-repeat="room in featuredRooms">
                <div class="col-md-4"><h3>
                    <a ng-href="#!/rooms/{{room.token}}">{{room.name}}</a></h3>
                    <p>{{room.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>