{{!< main}}

<h1>{{ room.name }}</h1>
<h2>{{ room.description }}</h2>

<iframe src="//www.slideshare.net/slideshow/embed_code/34618012?jsapi=true" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" id="slideshare_iframe"> </iframe>
