{{!< main}}

{{#contentFor 'headerScripts'}}
<script src="/js/angular.min.js"></script>
<script src="/js/angular-route.min.js"></script>
<script src="/js/angular-resource.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/services.js"></script>
<script src="/js/slideshare-service.js"></script>
<script src="/js/slideshow-service.js"></script>
<script src="/js/controllers.js"></script>
<script src="/js/route.js"></script>
{{/contentFor}}

<body ng-controller="AppCtrl">
    <div ng-view></div>
</body>
