{{!< main}}

<div class="grid-frame vertical" ng-controller="AppController">
    <div ng-include="'/templates/partials/topbar.html'"></div>

    <div class="grid-content">
        <div class="grid-container">
            <div ng-class="['ui-animation']" ui-view></div>
        </div>
    </div>

     <div ng-include="'/templates/partials/footer.html'"></div>
</div>
