{{!< main}}

<a href="/auth/google">Sign In with Google</a>
<a href="/auth/github">Sign In with Github</a>
<form method="post" action="login">
    <label for="username">Username</label><input type="text" name="username" />
    <label for="password">Password</label><input type="password" name="password" />
    <input type="submit" value="login">
</form>
